node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.env
.env.*

# Heap snapshots
*.heapsnapshot
*.heapprofile

# Logs
logs/
*.log

# OS files
.DS_Store
Thumbs.db

# IDE/editor files
.vscode/
.idea/

# Temporary files
tmp/
temp/
